<div id="product-modal" class="custom_modal" aria-hidden="true" role="dialog" aria-modal="true">
<div class="modal_dialog" role="document">
    <header class="modal_header">
    <button class="modal_close" aria-label="Close">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.03784 4.94354L13.5231 13.4288" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
        <path d="M5.03784 13.4285L13.5231 4.94325" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
        </svg>
    </button>
    </header>
    <div class="modal_content_popup_wpr">
    <div class="modal_content_popup">
        <div class="modal_image"></div>
        <div class="modal_meta">
        <div class="modal_title"></div>
            <div class="js-modal-price modal_price"></div>
        <p class="js-modal-desc"></p>
        </div>
    </div>
    </div>
    <div class="modal_meta">         
        <div class="js-modal-options"></div>
    </div>
    <footer class="modal_footer">
    <button class="btn btn--primary custom_primary_btn js-modal-add"> <span class="btn_text">{{ 'products.product.add_to_cart' | t }}</span>
        <span>
        <svg width="27" height="12" viewBox="0 0 27 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 5.25C0.585786 5.25 0.25 5.58579 0.25 6C0.25 6.41421 0.585786 6.75 1 6.75L1 5.25ZM26.5303 6.53033C26.8232 6.23743 26.8232 5.76256 26.5303 5.46967L21.7574 0.696697C21.4645 0.403804 20.9896 0.403804 20.6967 0.696697C20.4038 0.989591 20.4038 1.46446 20.6967 1.75736L24.9393 6L20.6967 10.2426C20.4038 10.5355 20.4038 11.0104 20.6967 11.3033C20.9896 11.5962 21.4645 11.5962 21.7574 11.3033L26.5303 6.53033ZM1 6.75L26 6.75L26 5.25L1 5.25L1 6.75Z" fill="currentColor"/>
        </svg>
        </span>
    </button>
    </footer>
</div>
</div>