<div class="grid_wrapper">
    <div class="container">
        {% if section.settings.title != blank %}
        <h2 class="title">{{ section.settings.title }}</h2>
        {% endif %}
        <div class="grid_main_list">
            {% assign product_list  = section.settings.product %}
            {% for product in product_list %}
            <div class="grid_inner">
                {{ product.title }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Product Grid",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "product_list",
            "id": "product",
            "label": "Product List"
        }
    ],
    "presets": [
        {
         "name": "Product Grid"
        }
    ]
}
{% endschema %}
