<div class="banner_wrapper">
    <div class="container">
        <div class="banner_content">
            {% if section.settings.title != blank %}
            <h2 class="title">{{ section.settings.title }}</h2>
            {% endif %}
            <p class="description">
                Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.
            </p>
        </div>
        <div class="banner_img">
            <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="{{ product.title }}">
        </div>
        <a href="/">Shop Now </a>
    </div>
</div>

{% schema %}
{
    "name": "Product Grid",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "product_list",
            "id": "product",
            "label": "Product List"
        }
    ],
    "presets": [
        {
         "name": "Product Grid"
        }
    ]
}
{% endschema %}
